*.db
*.db
resources/assets/universalcoins/textures/blocks/Thumbs.db
*.db
resources/assets/universalcoins/textures/gui/Thumbs.db
resources/assets/universalcoins/textures/blocks/Thumbs.db
resources/assets/universalcoins/textures/gui/Thumbs.db
*.db